<!doctype html>
<html>
<head>
    <meta name="layout" content="main"/>
    <title><g:message code="dashboard"/></title>
</head>
<body>
  <h1><g:message code="dashboard"/></h1>
  
 Welcome ${user?.firstName + ' ' + user?.lastName}
    

</body>
</html>
